In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

# **Loading dataset**

First, let's take a look on data.

In [ ]:
# load train and test files
train = pd.read_csv('/train.csv')
test = pd.read_csv('/test.csv')

# check df shapes
df = train+test
train.shape, test.shape, df.shape

((5282, 20), (1761, 19), (5282, 20))

In [ ]:
# let``s take a look how the 1st 10 samples look like

train.head(10)

   ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
0            55            19.50  ...               Mailed check     0
1            72            25.85  ...    Credit card (automatic)     0
2             1            75.90  ...           Electronic check     1
3            32            79.30  ...               Mailed check     0
4            60           115.25  ...    Credit card (automatic)     0
5            25            19.80  ...    Credit card (automatic)     0
6            27            90.15  ...  Bank transfer (automatic)     0
7             1            45.70  ...               Mailed check     1
8            50           105.95  ...    Credit card (automatic)     1
9            72            61.20  ...    Credit card (automatic)     0

[10 rows x 20 columns]

In [ ]:
# or random 10 samples

train.sample(10)

      ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
3800            41            50.05  ...  Bank transfer (automatic)     0
324             29            98.60  ...    Credit card (automatic)     1
1714            41            98.40  ...           Electronic check     1
3084            34            24.70  ...           Electronic check     0
4657            15            49.10  ...           Electronic check     1
249             71            83.20  ...           Electronic check     0
2253            61            88.10  ...               Mailed check     0
1550            32           108.15  ...    Credit card (automatic)     1
4846            72            93.25  ...  Bank transfer (automatic)     0
4025            23            59.95  ...  Bank transfer (automatic)     0

[10 rows x 20 columns]

In [ ]:
# let`s look at summary of the df : columns, value count, dtypes

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5282 entries, 0 to 5281
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ClientPeriod              5282 non-null   int64
 1   MonthlySpending           5282 non-null   float64
 2   TotalSpent                5282 non-null   object
 3   Sex                       5282 non-null   object
 4   IsSeniorCitizen           5282 non-null   int64
 5   HasPartner                5282 non-null   object
 6   HasChild                  5282 non-null   object
 7   HasPhoneService           5282 non-null   object
 8   HasMultiplePhoneNumbers   5282 non-null   object
 9   HasInternetService        5282 non-null   object
 10  HasOnlineSecurityService  5282 non-null   object
 11  HasOnlineBackup           5282 non-null   object
 12  HasDeviceProtection       5282 non-null   object
 13  HasTechSupportAccess      5282 non-null   object
 14  HasOnlineTV               5282 non-null   object
 15  HasMovieSubscription      5282 non-null   object
 16  HasContractPhone          5282 non-null   object
 17  IsBillingPaperless        5282 non-null   object
 18  PaymentMethod             5282 non-null   object
 19  Churn                     5282 non-null   int64
dtypes: float64(1), int64(3), object(16)
memory usage: 825.4+ KB

In [ ]:
# we have 2 features `dtypes: objects, int 64
# for our comfort we separate them

num_cols = [
    'ClientPeriod',
    'MonthlySpending',
    'TotalSpent'
]

cat_cols = [
    'Sex',
    'IsSeniorCitizen',
    'HasPartner',
    'HasChild',
    'HasPhoneService',
    'HasMultiplePhoneNumbers',
    'HasInternetService',
    'HasOnlineSecurityService',
    'HasOnlineBackup',
    'HasDeviceProtection',
    'HasTechSupportAccess',
    'HasOnlineTV',
    'HasMovieSubscription',
    'HasContractPhone',
    'IsBillingPaperless',
    'PaymentMethod'
]

# define X(features) and y(target)

feature_cols = num_cols + cat_cols
target_col = 'Churn'

In [ ]:
# check for NA

train.isna().sum()

ClientPeriod                0
MonthlySpending             0
TotalSpent                  0
Sex                         0
IsSeniorCitizen             0
HasPartner                  0
HasChild                    0
HasPhoneService             0
HasMultiplePhoneNumbers     0
HasInternetService          0
HasOnlineSecurityService    0
HasOnlineBackup             0
HasDeviceProtection         0
HasTechSupportAccess        0
HasOnlineTV                 0
HasMovieSubscription        0
HasContractPhone            0
IsBillingPaperless          0
PaymentMethod               0
Churn                       0
dtype: int64

# Data **analysis**

In [ ]:
# numerical columns hist

train[num_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5282 entries, 0 to 5281
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ClientPeriod     5282 non-null   int64
 1   MonthlySpending  5282 non-null   float64
 2   TotalSpent       5282 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 123.9+ KB

In [ ]:
train[num_cols].describe()

       ClientPeriod  MonthlySpending
count   5282.000000      5282.000000
mean      32.397009        64.924754
std       24.550326        30.176464
min        0.000000        18.250000
25%        9.000000        35.462500
50%       29.000000        70.400000
75%       55.000000        90.050000
max       72.000000       118.750000

In [ ]:
# we cast TotalSpent column to float

In [ ]:
# pd.to_numeric(train.TotalSpent,downcast ='float')
# ValueError: Unable to parse string " " at position 1048

train[train.TotalSpent == ' ']

      ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
1048             0            25.75  ...               Mailed check     0
1707             0            73.35  ...               Mailed check     0
2543             0            19.70  ...               Mailed check     0
3078             0            80.85  ...               Mailed check     0
3697             0            20.00  ...               Mailed check     0
4002             0            61.90  ...  Bank transfer (automatic)     0
4326             0            25.35  ...               Mailed check     0
4551             0            52.55  ...  Bank transfer (automatic)     0
4598             0            56.05  ...    Credit card (automatic)     0

[9 rows x 20 columns]

In [ ]:
train.TotalSpent = train.TotalSpent.replace(' ', np.nan)
train.TotalSpent = train.TotalSpent.astype(float)

In [ ]:
# the same with previously used pd.to_numeric
# train.TotalSpent = pd.to_numeric(train.TotalSpent)

In [ ]:
# check casting
train[num_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5282 entries, 0 to 5281
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ClientPeriod     5282 non-null   int64
 1   MonthlySpending  5282 non-null   float64
 2   TotalSpent       5273 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 123.9 KB