In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep=', ')

columns = ('age workclass fnlwgt education educ-num marital-status occupation relationship '
           'race sex capital-gain capital-loss  hours-per-week native-country salary')

In [3]:
df.head()

   39         State-gov   77516  Bachelors  ...  0  40  United-States  <=50K
0  50  Self-emp-not-inc   83311  Bachelors  ...  0  13  United-States  <=50K
1  38           Private  215646    HS-grad  ...  0  40  United-States  <=50K
2  53           Private  234721       11th  ...  0  40  United-States  <=50K
3  28           Private  338409  Bachelors  ...  0  40           Cuba  <=50K
4  37           Private  284582    Masters  ...  0  40  United-States  <=50K

[5 rows x 15 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   39             32560 non-null  int64
 1   State-gov      32560 non-null  object
 2   77516          32560 non-null  int64
 3   Bachelors      32560 non-null  object
 4   13             32560 non-null  int64
 5   Never-married  32560 non-null  object
 6   Adm-clerical   32560 non-null  object
 7   Not-in-family  32560 non-null  object
 8   White          32560 non-null  object
 9   Male           32560 non-null  object
 10  2174           32560 non-null  int64
 11  0              32560 non-null  int64
 12  40             32560 non-null  int64
 13  United-States  32560 non-null  object
 14  <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.columns = columns.split()

In [6]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
1   38           Private  215646  ...             40   United-States  <=50K
2   53           Private  234721  ...             40   United-States  <=50K
3   28           Private  338409  ...             40            Cuba  <=50K
4   37           Private  284582  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   educ-num        32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  32560 non-null  object
 14  salary          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
numerical_ind = np.array(df.columns.get_indexer(df.select_dtypes('int64').columns))
numerical_ind

array([ 0,  2,  4, 10, 11, 12])

In [9]:
categorical_ind = np.array(df.columns.get_indexer(df.select_dtypes('object').columns))

In [10]:
categorical_ind = np.array(categorical_ind[:-1])
categorical_ind

array([ 1,  3,  5,  6,  7,  8,  9, 13])

In [11]:
df = df.replace('?', np.nan)
df = df.dropna()

In [12]:
df['salary'] = df['salary'].apply((lambda x: x=='>50K'))

In [13]:
numeric_data = df[df.columns[numerical_ind]]
numeric_data

       age  fnlwgt  educ-num  capital-gain  capital-loss  hours-per-week
0       50   83311        13             0             0              13
1       38  215646         9             0             0              40
2       53  234721         7             0             0              40
3       28  338409        13             0             0              40
4       37  284582        14             0             0              40
...    ...     ...       ...           ...           ...             ...
32555   27  257302        12             0             0              38
32556   40  154374         9             0             0              40
32557   58  151910         9             0             0              40
32558   22  201490         9             0             0              20
32559   52  287927         9         15024             0              40

[30161 rows x 6 columns]

In [14]:
categorical_data = df[df.columns[categorical_ind]]
categorical_data

              workclass   education  ...     sex native-country
0      Self-emp-not-inc   Bachelors  ...    Male  United-States
1               Private     HS-grad  ...    Male  United-States
2               Private        11th  ...    Male  United-States
3               Private   Bachelors  ...  Female           Cuba
4               Private     Masters  ...  Female  United-States
...                 ...         ...  ...     ...            ...
32555           Private  Assoc-acdm  ...  Female  United-States
32556           Private     HS-grad  ...    Male  United-States
32557           Private     HS-grad  ...  Female  United-States
32558           Private     HS-grad  ...    Male  United-States
32559      Self-emp-inc     HS-grad  ...  Female  United-States

[30161 rows x 8 columns]

In [15]:
df['education'].unique(), len(df['education'].unique())

(array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
        'Assoc-acdm', '7th-8th', 'Doctorate', 'Assoc-voc', 'Prof-school',
        '5th-6th', '10th', 'Preschool', '12th', '1st-4th'], dtype=object), 16)

In [16]:
# one-hot encoding for categorical values
dummy_features = pd.get_dummies(categorical_data)
dummy_features

       workclass_Federal-gov  ...  native-country_Yugoslavia
0                          0  ...                          0
1                          0  ...                          0
2                          0  ...                          0
3                          0  ...                          0
4                          0  ...                          0
...                      ...  ...                        ...
32555                      0  ...                          0
32556                      0  ...                          0
32557                      0  ...                          0
32558                      0  ...                          0
32559                      0  ...                          0

[30161 rows x 98 columns]

In [17]:
X = pd.concat([numeric_data, dummy_features], axis =1)

In [18]:
X_origin = df.iloc[:, :-1]
X.head()

   age  fnlwgt  ...  native-country_Vietnam  native-country_Yugoslavia
0   50   83311  ...                       0                          0
1   38  215646  ...                       0                          0
2   53  234721  ...                       0                          0
3   28  338409  ...                       0                          0
4   37  284582  ...                       0                          0

[5 rows x 104 columns]

In [19]:
y = df['salary']

X.shape, X_origin.shape, y.shape

((30161, 104), (30161, 14), (30161,))

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, 
                                                    train_size=0.8,
                                                    random_state=42)

In [22]:
X_train.shape, y_train.shape

((24128, 104), (24128,))

In [23]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [24]:
def search_and_draw(X, y, model, param_name, grid, param_scale='ordinary', draw=True):
    parameters = {param_name: grid}
    
    CV_model = GridSearchCV(estimator=model, 
                            param_grid=parameters,
                            cv=5, 
                            scoring='f1',
                            n_jobs=-1, 
                            verbose=10)
    CV_model.fit(X, y)
    means = CV_model.cv_results_['mean_test_score']
    error = CV_model.cv_results_['std_test_score']
    
    if draw:
        plt.figure(figsize=(15,8))
        plt.title('choose ' + param_name)


        if (param_scale == 'log'):
            plt.xscale('log')

        plt.plot(grid, means, label='mean values of score', color='red', lw=3)

        plt.fill_between(grid, means - 2 * error, means + 2 * error, 
                         color='green', label='filled area between errors', alpha=0.5)
        legend_box = plt.legend(framealpha=1).get_frame()
        legend_box.set_facecolor("white")
        legend_box.set_edgecolor("black")
        plt.xlabel('parameter')
        plt.ylabel('roc_auc')
        plt.show()
        
    return means, error

In [25]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [26]:
models = [KNeighborsClassifier(), DecisionTreeClassifier()]
param_names = ['n_neighbors', 'max_depth']
grids = [np.array(np.linspace(4, 30, 8), dtype='int'), np.arange(1, 30)]
param_scales = ['log', 'ordinary']

In [ ]:
for model, param_name, grid, param_scale in zip(models, 
                                                param_names, 
                                                grids, 
                                                param_scales):
  search_and_draw(X_train, y_train, model, param_name, grid, param_scale)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:   15.9s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   20.4s

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from tqdm.notebook import tqdm

In [ ]:
max_trees = 100

values = np.arange(max_trees) + 1

kf = KFold(n_splits=5, shuffle=True, random_state=1234)

global_scores = []

for train_indices, val_indices in tqdm(kf.split(X_train), total=5):
    scores = []
    
    X_train_kf = X_train[train_indices]
    y_train_kf = y_train[train_indices]
    
    X_val_kf = X_train[val_indices]
    y_val_kf = y_train[val_indices]
    
    forest = RandomForestClassifier(n_estimators=max_trees)
    forest.fit(X_train_kf, y_train_kf)
    trees = forest.estimators_
    
    for number_of_trees in tqdm(values, leave=False):
        thinned_forest = RandomForestClassifier(n_estimators=number_of_trees)
        
        thinned_forest.n_classes_ = 2
        thinned_forest.estimators_ = trees[:number_of_trees]

        scores.append(roc_auc_score(y_val_kf, thinned_forest.predict_proba(X_val_kf)[:, 1]))
    
    scores = np.array(scores)
    
    global_scores.append(scores)

global_scores = np.stack(global_scores, axis=0)

In [ ]:
mean_cross_val_score = global_scores.mean(axis = 0)
std_cross_val_score = global_scores.std(axis = 0)

In [ ]:
plt.figure(figsize = (15,8))
plt.title('Quality of random forest')
plt.plot(values, mean_cross_val_score, label = 'mean values', color = 'red', lw = 3)
plt.fill_between(values,
                 mean_cross_val_score - 2 * std_cross_val_score,
                 mean_cross_val_score + 2 * std_cross_val_score,
                 color = 'green',
                 label = 'filled area between errors',
                 alpha = 0.5)

legend_box = plt.legend(framealpha = 1).get_frame()
legend_box.set_facecolor('white')
legend_box.set_edgecolor('black')
plt.xlabel('number of trees')
plt.ylabel('roc-auc')

plt.show()